<div class="card-body">
  <h2>update Corporate cutomer</h2>
  <hr>
  <form action="" [formGroup]="editCorporateForm" (ngSubmit)="updateCurrentCutomerForm()">
    <div class="row justify-content-lg-center">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">Account Number</label>
          <input type="text" class="form-control" formControlName="AccountNumber" />
          <span *ngIf="AccountNumber?.invalid && AccountNumber?.touched && !AccountNumber?.dirty">
            this field is required
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">cutomer name</label>
          <input type="text" class="form-control" formControlName="name" />
          <span *ngIf="name?.invalid && name?.touched && !name?.dirty">
            this field is required
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">mobile</label>
          <input type="number" class="form-control" formControlName="mobile" name="mobile" />
          <span *ngIf="mobile?.invalid && mobile?.touched && !mobile?.dirty">
            this field must be number
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">CompanyName</label>
          <input type="text" class="form-control" formControlName="CompanyName" name="CompanyName" />
          <span *ngIf="
            CompanyName?.invalid && CompanyName?.touched && !CompanyName?.dirty
          ">
            you have to add CompanyName
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">CompanyAddress</label>
          <input type="text" class="form-control" formControlName="CompanyAddress" name="CompanyAddress" />
          <span *ngIf="
            CompanyAddress?.invalid && CompanyAddress?.touched && !CompanyAddress?.dirty
          ">
            you have to add CompanyAddress
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">CompanyType</label>
          <input type="text" class="form-control" formControlName="CompanyType" name="CompanyType" />
          <span *ngIf="
            CompanyType?.invalid && CompanyType?.touched && !CompanyType?.dirty
          ">
            you have to add CompanyType
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">Account Type</label>
          <select type="text" class="form-select" autofocus name="AccountTypeID" formControlName="AccountTypeID">
            <option *ngFor="let account of AccountType" [value]="account.ID">
              {{ account?.Name }}
            </option>
          </select>
          <span *ngIf="
            CompanyType?.invalid && CompanyType?.touched && !CompanyType?.dirty
          ">
            you have to add CompanyType
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">Status</label>
          <select type="text" class="form-select" autofocus name="CustomerStatusID" formControlName="CustomerStatusID">
            <option *ngFor="let status of customerStatus" [value]="status.ID">
              {{ status?.Name }}
            </option>
          </select>
          <span *ngIf="
            CompanyType?.invalid && CompanyType?.touched && !CompanyType?.dirty
          ">
            you have to add CompanyType
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">Lines Number</label>
          <input type="text" class="form-control" formControlName="LinesNumber" />
          <span *ngIf="LinesNumber?.invalid && LinesNumber?.touched && !LinesNumber?.dirty">
            this field is required
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">Request Type</label>
          <select type="text" class="form-select" autofocus name="RequestTypeID" formControlName="RequestTypeID">
            <option *ngFor="let ReqType of RequestTypes" [value]="ReqType.ID">
              {{ ReqType?.Name }}
            </option>
          </select>
          <span *ngIf="
            RequestTypes?.invalid && RequestTypes?.touched && !RequestTypes?.dirty">
            you have to add RequestType
          </span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="mt-4">
          <label class="cust-label">Comment</label>
          <textarea type="text" class="form-control" formControlName="Comment" name="Comment"></textarea>
          <span *ngIf="Comment?.invalid && Comment?.touched && !Comment?.dirty">
            this field is required
          </span>
        </div>
      </div>

    </div>

    <div class="m-auto text-center">
      <button [disabled]="editCorporateForm?.invalid" type="submit" id="button-1"
        class="mt-5 text-center  btn btn-primary">
        update corporate Cutomer
      </button>
    </div>

  </form>

  <p-toast position="bottom-center"></p-toast>
</div>
