<div class="main">
  <div class="d-flex justify-content-evenly align-items-center mt-5">
    <button class="btn btn-primary" routerLink="/dashboard/add-user">
      Add User
    </button>
    <button class="btn btn-primary" routerLink="/dashboard/user-list">
      User List
    </button>
    <button class="btn btn-primary" routerLink="/dashboard/add-to-menu">
      Add to Menus
    </button>
    <button class="btn btn-primary" routerLink="/dashboard/list-dropdown">
      Menu List
    </button>
  </div>
  <hr>
  <div class="mt-5">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
