<div class="main-body">
  <h2 class="mt-3">User List</h2>
  <div class="m-2 w-50">
    <input type="text" name="search" id="" [(ngModel)]="SearchText" class="form-control" placeholder="search by Mobile"
      (keyup.enter)="onSearch()" />
  </div>
  <p-table [value]="userList" [scrollable]="true" scrollHeight="500px" [rowHover]="true" [rows]="10" [filterDelay]="0"
    [globalFilterFields]="['name','country','Status']">>
    <ng-template pTemplate="header">
      <tr>
        <th>Create By </th>
        <th>Created On</th>
        <th>user Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>IS Active</th>
        <th>Password</th>
        <th>User Name</th>
        <th>User Role</th>
        <th>Modified By </th>
        <th>Edit</th>
        <th>status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user?.CreatedByName}}</td>
        <td>{{user?.CreatedOn}}</td>
        <td>{{user?.Name}}</td>
        <td>{{user?.Email}}</td>
        <td>{{user?.Mobile}}</td>
        <td>{{user?.IsActive}}</td>
        <td>{{user?.Password}}</td>
        <td>{{user?.UserName}}</td>
        <td>{{user?.UserRole}}</td>
        <td>{{user?.ModifiedByName}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['../edituser', user.ID]">Edit</button>
        </td>
        <td>
          <ng-container *ngIf="user?.IsActive === true">
            <button (click)=" updateStatusOfUser(user.ID)" class="btn btn-danger">InActive</button>
          </ng-container>
          <ng-container *ngIf="user?.IsActive === false">
            <button (click)=" updateStatusOfUser(user.ID)" class="btn btn-success">Active</button>
          </ng-container>
        </td>
    </ng-template>
  </p-table>
  <div class="col-10" *ngIf="userList.length> 0">
    <p-paginator [rows]="PageLimit" [totalRecords]="totalCount" (onPageChange)="onPageChange($event)"
      [showJumpToPageDropdown]="true" [showPageLinks]="false"></p-paginator>
  </div>
</div>
