<div class="card p-2 mb-3">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <h3 class="text-primary">Corporate Info : {{corpotareCustomerInfo.Name}}</h3>
    </div>
    <hr>
    <div class="row justify-content-lg-center">

      <div class="col-md-4 col-sm-6 col-12">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th scope="row">Name :</th>
              <td>{{corpotareCustomerInfo?.Name}}</td>
            </tr>
            <tr>
              <th scope="row">AccountNumber :</th>
              <td>{{corpotareCustomerInfo?.AccountNumber}}</td>
            </tr>
            <tr>
              <th scope="row">AccountType :</th>
              <td>{{corpotareCustomerInfo?.AccountType}}</td>
            </tr>
            <tr>
              <th scope="row">CompanyName :</th>
              <td>{{corpotareCustomerInfo?.CompanyName}}</td>
            </tr>
            <tr>
              <th scope="row">CompanyAddress :</th>
              <td>{{corpotareCustomerInfo?.CompanyAddress}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th scope="row">Company Type :</th>
              <td>{{corpotareCustomerInfo?.CompanyType}}</td>
            </tr>
            <tr>
              <th scope="row">Mobile :</th>
              <td>{{corpotareCustomerInfo?.Mobile}}</td>
            </tr>
            <tr>
              <th scope="row">RequestType :</th>
              <td>{{corpotareCustomerInfo?.RequestType}}</td>
            </tr>
            <tr>
              <th scope="row">Customer Status :</th>
              <td>{{corpotareCustomerInfo?.CustomerStatus}}</td>
            </tr>
            <tr>
              <th scope="row">LinesNumber :</th>
              <td>{{corpotareCustomerInfo?.LinesNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th scope="row">Created By :</th>
              <td>{{corpotareCustomerInfo?.CreatedByName}}</td>
            </tr>
            <tr>
              <th scope="row">Created On :</th>
              <td>{{corpotareCustomerInfo?.CreatedOn}}</td>
            </tr>
            <tr>
              <th scope="row">Modified By :</th>
              <td>{{corpotareCustomerInfo?.ModifiedByName}}</td>
            </tr>
            <tr>
              <th scope="row">Modified On :</th>
              <td>{{corpotareCustomerInfo?.ModifiedOn}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card p-2 mt-4" *ngIf="corporateCustomerHistory.length > 0">
  <h3 class="text-center mt-3">History comments</h3>
  <p-table [value]="corporateCustomerHistory" [scrollable]="true" scrollHeight="200px">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:200px">comment</th>
        <th style="min-width:200px"> by </th>
        <th style="min-width:200px"> on</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-history>
      <tr>
        <td style="min-width:200px">{{history?.Comment}}</td>
        <td style="min-width:200px">{{history?.CreatedBy}}</td>
        <td style="min-width:200px">{{history?.CreatedOn}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="card p-2 mt-4" *ngIf="corporateStatusHistory.length > 0">
  <h3 class="text-center mt-3">History status</h3>
  <p-table [value]="corporateStatusHistory" [scrollable]="true" scrollHeight="200px">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:200px">Status</th>
        <th style="min-width:200px"> by </th>
        <th style="min-width:200px"> on</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-status>
      <tr>
        <td style="min-width:200px">{{status?.Status}}</td>
        <td style="min-width:200px">{{status?.CreatedBy}}</td>
        <td style="min-width:200px">{{status?.CreatedOn}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="card p-2 mt-4" *ngIf="corporateRejectedHistory.length>0">
  <h3 class="text-center mt-3">History Rejected Reason</h3>
  <p-table [value]="corporateRejectedHistory" [scrollable]="true" scrollHeight="200px">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:200px">Rejected Reason</th>
        <th style="min-width:200px"> by </th>
        <th style="min-width:200px"> on</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reason>
      <tr>
        <td style="min-width:200px">{{reason?.RejectedReason}}</td>
        <td style="min-width:200px">{{reason?.CreatedBy}}</td>
        <td style="min-width:200px">{{reason?.CreatedOn}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
