<div class="login ">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <fieldset>
        <legend class="tex-center">LOyal Friends</legend>
        <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
          <div class="mb-5">
            <label for="" class="main-text">username</label>
            <input type="text" class="form-control" formControlName="userName">
          </div>
          <div class="mb-5">
            <label for="" class="main-text">password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <div class="m-auto text-center">
            <button type="submit" class="btn btn-primary btn-lg active">login</button>

          </div>
        </form>
      </fieldset>
    </div>

  </div>
</div>
