<!-- Dashboard -->
<div class="menu-item" *ngIf="userRole === 'Admin'">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">Dashboard & reports </span>
  </div>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
  *ngIf="userRole === 'Admin'">
  <span class="menu-link">
    <span class="menu-icon">
      <i class="fa fa-home"></i>
    </span>
    <span class="menu-title" data-link="">Dashboard
      & reports</span>
    <span class="menu-arrow"></span>
  </span>


  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="dashboard/dash"><span class="menu-bullet">
          <span class="bullet bullet-dot"></span>
        </span>
        <span class="menu-title">Dashboard</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/reports/total-reports"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Total
          Reports</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/reports/partial-reports"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Partial
          Reports</span></a>
    </div>
  </div>
</div>

<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>

<!-- Layout builder  -->
<!-- <div class="menu-item">
  <a class="menu-link without-sub" routerLink="/builder" routerLinkActive="active">
    <span class="menu-icon"></span>
    <span class="menu-title">Layout Builder</span>
  </a>
</div> -->
<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">adsl & fixedLine </span>
  </div>
</div>


<!-- Accounts -->
<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon"><i class="fa-solid fa-address-book"></i></span>
    <span class="menu-title" data-link="">adsl & fixedLine</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/add-customer"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Add
          Customer</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/adsl-list"><span class="menu-bullet"><span
            class="bullet bullet-dot"></span></span><span class="menu-title">Adsl Customer
          List</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/fixed-list"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">FixedLine Customer
          List</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/fixed-adsl"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Adsl & FixedLine
          customer List</span></a>
    </div>
  </div>
</div>


<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>


<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">corporate</span>
  </div>
</div>

<div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link">
    <span class="menu-icon"><i class="fa-solid fa-building"></i></span>
    <span class="menu-title" data-link="">corporate</span>
    <span class="menu-arrow"></span>
  </span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/corp/add-corp"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Add corp
          Customer</span></a>
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/corp/corp-list"><span
          class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Corporate Customer
          List</span></a>
    </div>

  </div>
</div>


<!-- Separator -->
