<div class="card m-2 p-2 mb-3">
  <div class="d-flex justify-content-center align-items-center">
    <h3 class="text-primary">Customer Info : {{customerInfo?.Name}}</h3>
  </div>
  <div class="container">
    <hr>
    <div class="row justify-content-lg-center">

      <div class="col-md-4 col-sm-6 col-12">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th scope="row">Cutomer name :</th>
              <td>{{customerInfo?.Name}}</td>
            </tr>
            <tr>
              <th scope="row">Customer Type :</th>
              <td>{{customerInfo?.CustomerType}}</td>
            </tr>
            <tr>
              <th scope="row">Governorate :</th>
              <td>{{customerInfo?.Governorate}}</td>
            </tr>
            <tr>
              <th scope="row">Address :</th>
              <td>{{customerInfo?.Address}}</td>
            </tr>
            <tr>
              <th scope="row">City :</th>
              <td>{{customerInfo?.City}}</td>
            </tr>
            <tr>
              <th scope="row">District :</th>
              <td>{{customerInfo?.District}}</td>
            </tr>
            <tr>
              <th scope="row">SpecialMark :</th>
              <td>{{customerInfo?.SpecialMark}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th scope="row">CustomerStatus :</th>
              <td>{{customerInfo?.CustomerStatus}}</td>
            </tr>
            <tr>
              <th scope="row">Service Provider :</th>
              <td>{{customerInfo?.ServiceProvider}}</td>
            </tr>
            <tr>
              <th scope="row">Service Quota :</th>
              <td>{{customerInfo?.ServiceQuota}}</td>
            </tr>
            <tr>
              <th scope="row">Offer :</th>
              <td>{{customerInfo?.Offer}}</td>
            </tr>
            <tr>
              <th scope="row">Fixed Line :</th>
              <td>{{customerInfo?.FixedLine}}</td>
            </tr>
            <tr>
              <th scope="row">Nearest FixedLine :</th>
              <td>{{customerInfo?.NearestFixedLine}}</td>
            </tr>
            <tr>
              <th scope="row">Central :</th>
              <td>{{customerInfo?.Central}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-sm-6 col-12">
        <table class="table table-striped table-hover">
          <tbody>

            <tr>
              <th scope="row">Contact Date :</th>
              <td>{{customerInfo?.ContactDate}}</td>
            </tr>
            <tr>
              <th scope="row">Router Type :</th>
              <td>{{customerInfo?.RouterType}}</td>
            </tr>
            <tr>
              <th scope="row">Router Delivery Method :</th>
              <td>{{customerInfo?.RouterDeliveryMethod}}</td>
            </tr>
            <tr>
              <th scope="row">Created By :</th>
              <td>{{customerInfo?.CreatedByName}}</td>
            </tr>
            <tr>
              <th scope="row">Created On :</th>
              <td>{{customerInfo?.CreatedOn}}</td>
            </tr>
            <tr>
              <th scope="row">Modified By :</th>
              <td>{{customerInfo?.ModifiedByName}}</td>
            </tr>
            <tr>
              <th scope="row">Modified On :</th>
              <td>{{customerInfo?.ModifiedOn}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="card mt-5" *ngIf="customerHistory.length > 0">
  <h3 class="text-center m-3 text-primary">History</h3>
  <p-table [value]="customerHistory" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:200px">comment</th>
        <th style="min-width:200px"> by </th>
        <th style="min-width:200px"> on</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-history>
      <tr>
        <td style="min-width:200px">{{history.Comment}}</td>
        <td style="min-width:200px">{{history.CreatedBy}}</td>
        <td style="min-width:200px">{{history.CreatedOn}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
