<div class="main m-2 p-2">
  <div class="d-flex justify-content-center align-items-center">
    <h3 class="text-success">customer info : {{customerInfo.Name}}</h3>
  </div>
  <div class="container">
    <hr>
    <div class="row justify-content-lg-center">

      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> Cutomer name :</span>
          <span class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.Name}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> CustomerType :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.CustomerType}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> Governorate :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.Governorate}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> Address :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.Address}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> City :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.City}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> District :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.District}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> SpecialMark :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.SpecialMark}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> Central :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.Central}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> ContactDate :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.ContactDate}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> CustomerStatus :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.CustomerStatus}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> CreatedOn :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.CreatedOn}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> FixedLine :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.FixedLine}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> NearestFixedLine :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.NearestFixedLine}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> ModifiedByName :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.ModifiedByName}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> ModifiedOn :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.ModifiedOn}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> ServiceProvider :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.ServiceProvider}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> ServiceQuota :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.ServiceQuota}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> Offer :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.Offer}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> RouterType :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.RouterType}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> RouterDeliveryMethod :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.RouterDeliveryMethod}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="d-flex justify-content-start align-items-center">
          <span class="d-inline-block info m-2 p-2 cust-span"> CreatedByName :</span> <span
            class="d-inline-block info m-2 p-2 cust-span">{{customerInfo.CreatedByName}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="main-body" *ngIf="customerHistory.length > 0">
    <h3>History</h3>
    <p-table [value]="customerHistory" [scrollable]="true" scrollHeight="400px">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:200px">comment</th>
          <th style="min-width:200px"> by </th>
          <th style="min-width:200px"> on</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-history>
        <tr>
          <td style="min-width:200px">{{history.Comment}}</td>
          <td style="min-width:200px">{{history.CreatedBy}}</td>
          <td style="min-width:200px">{{history.CreatedOn}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
